body{
    background-color: #000000;
    background-image: url("../images/stars_bg.png");

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;

}

h2{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin-top: -20px;
    margin: -25px 0 0 0;
}

.left_menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #eee;
}

/* Let's get this party started */
.left_menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.left_menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.left_menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(24, 22, 24);
    -webkit-box-shadow: inset 0 0 6px rgb(40, 40, 40);
}
.left_menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(254, 255, 253, 0.40);
}

.left_menu div{
    padding: 10px;
    cursor: pointer;
    margin: 2px;
    font-size: 13px;
}

.np{
    border-left: solid #0088FF 5px;
}

.zp{
    border-left: solid lawngreen 5px;
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 200px;
    height: 100%;
    width: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}
.cesium-viewer-toolbar{
    display: none;
}


.home_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.map_selector{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 177px;
    height: 50px;
    overflow: hidden;
    display: none;
}

.popup_menu{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 420px;
    height: 50px;
    margin-left: -65px;
}

.popup_menu>div{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    background-color: black;
    color: #eee;
    font-size: 14px;
    line-height: 50px;
    padding-left: 65px;
    cursor: pointer;
}

.popup_menu .info{
    background-image: url("../images/infobg.png");
    background-repeat: no-repeat;
}
.popup_menu .video{
    background-image: url("../images/videobg.png");
    background-repeat: no-repeat;
}
.popup_menu .photo{
    background-image: url("../images/photobg.png");
    background-repeat: no-repeat;
}
.popup_menu .web{
    background-image: url("../images/webbg.png");
    background-repeat: no-repeat;
}

.map_selector_fader{
    position: absolute;
    width: 94px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.5;
    top: 0px;
    left: 93px;
}


.popup{
    position: absolute;
    top: 2%;
    left: 27%;
    width: 700px;
    height: 425px;
    background-color: #ffffff;
    border: solid 1px #333;
    padding: 50px;
    overflow: hidden;

    -webkit-box-shadow: 2px 2px 25px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    2px 2px 25px 5px rgba(50, 50, 50, 1);
    box-shadow:         2px 2px 25px 5px rgba(50, 50, 50, 1);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.popup_menu *,
.popup_menu *:before,
.popup_menu *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.popup .info{
    position: relative;
}

.popup .info iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 690px;
    height: 360px;
    overflow: hidden;
}

.popup .web iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 525px;
    overflow: hidden;
    overflow-x: hidden;
}

.popup .video iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 525px;
    overflow: hidden;
    overflow-x: hidden;
}

.popup .photo img{
    float: left;
}

.popup .photo{
    /*margin-top: 80px;*/
}

.photo_container{
    width: 700px;
    height: 380px;
    /*background-color: #333333;*/
    position: relative;
}

.photo_container img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.calendar_popup{
    position: absolute;
    top: 2%;
    left: 3%;
    width: 700px;
    height: 425px;
    background-color: #ffffff;
    border: solid 1px #333;
    padding: 50px;
    overflow: hidden;

    -webkit-box-shadow: 2px 2px 25px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    2px 2px 25px 5px rgba(50, 50, 50, 1);
    box-shadow:         2px 2px 25px 5px rgba(50, 50, 50, 1);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.calendar_popup .calendar{
    /*margin-top: 80px;*/
}


pre {
    word-break: normal;
}

.calendar_container{
    width: 300px;
    height: 30px;
    /*background-color: #333333;*/
    position: relative;
    margin-top: 10px;

}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.calendar_container img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.gallery_container{
    width: 200px;
    height: 180px;
    /*background-color: #333333;*/
    position: relative;

}

video{
    width: 700px;
    height: 380px;
}

.photos_left{
    position: absolute;
    top: 150px;
    left: 0px;
    cursor: pointer;
}

.photos_right{
    position: absolute;
    top: 150px;
    left: 750px;
    cursor: pointer;
}

.close_popup{
    position: absolute;
    top: 0px;
    left: 755px;
    cursor: pointer;
}

.menu_op_name{
    position: absolute;
    width: 320px !important;
    top: -80px;
    padding-left: 15px !important;
    padding-bottom: 25px !important;
    font-size: 20px !important;
}

.selected_item{
    background-color: #ffffff !important;
    color: #000000 !important;
}


.legend{
    position: absolute;
    bottom: 35px;
    right: 10px;
}

.small-header{
    font-size: 17px;
    line-height: 0px;
    width: 320px;
    background-color: #000000;
}

.lang_selector{
    position: absolute;
    top: 70px;
    right: 10px;
}

.photo_caption{
    /*margin-top: 1em;*/
    margin-left: 50%;
}

.calendar_caption{
    margin-top: 1em;
}

.fullscreen_btn{
    position: absolute;
    top: 130px;
    right: 10px;
    cursor: pointer;
}

















