<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="Cesium/Build/Cesium/Widgets/widgets.css">
    <link rel="stylesheet" href="styles/style.css">
    <link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="bower_components/jq-fullscreen/release/jquery.fullscreen.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
    <!--<script src="http://code.angularjs.org/1.0.8/i18n/angular-locale_ru.js"></script>-->

    <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>-->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="scripts/gallery.js"></script>-->
    <!--<script src="scripts/testScipt.js"></script>-->

    <script>lang = 'ru';</script>

</head>
<body>
<div class="left_menu"></div>
<div id="cesiumContainer"></div>

<div class="home_btn">
    <img src="images/home.png" alt=""/>
</div>

<div class="lang_selector">
    <a href="index.html"><img src="images/lang_en.png" alt="Английская версия"/></a>
</div>

<div class="fullscreen_btn">
    <img src="images/fullscreen.png" alt="Полноэкранный режим"/>
</div>

<div class="map_selector">
    <img src="images/map-selector.png" alt=""/>
    <div class="map_selector_fader"></div>
</div>

<div class="popup_menu" style="bottom: -30%">

    <div class="info">Информация</div>
    <div class="video">Видео</div>
    <div class="photo">Фото</div>
    <div class="web">Веб</div>

    <!--<div class="menu_op_name">Hallo</div>-->



</div>
<!--<div class="calendar_popup" style="display: none">-->
    <!--<div ng-app="myApp" ng-controller="MyCtrl">-->
        <!--<div class="calendar">-->
            <!--<div class="calendar_container">-->
                <!--<input id="dp" type="text" ng-model="userInfo.person.mDate" name="mDate" my-datepicker/>-->
                <!--<pre>{{userInfo.person.mDate}}</pre>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="calendar_popup" style="display: none">-->
<!--<div class="calendar">-->
<!--<div class="calendar_container" ng-app="ngdemo">-->
<!--<div ng-controller="DatepickerDemoCtrl">-->
<!--<pre>Выбранная дата: <em>{{dt | date:'fullDate' }}</em></pre>-->
<!--<div style="display:inline-block; min-height:290px;">-->
<!--<datepicker ng-model="dt" class="well well-sm" datepicker-options="options"-->
<!--locale= "ru" date-disabled="disabled(date, mode)"></datepicker>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="calendar_caption"></div>-->

</div>
<div class="popup" style="display: none">
    <h2>Название территории</h2>
    <div class="calendar">
        <div class="calendar_container">
    <div ng-app="myApp" ng-controller="MyCtrl">
        <input id="dp" type="text" ng-model="userInfo.person.mDate" name="mDate" date-disabled="disabled(date, mode)" my-datepicker/>
                <!--<pre>{{userInfo.person.mDate}}</pre>-->
            </div>
        </div>
    </div>
    <div class="info">
        <iframe src="info.html" frameborder="0"></iframe>
    </div>

    <div class="video">
        <video src="data/1008/video/1.mp4" controls  preload="auto"></video>
    </div>
    <div class="photo">
        <div class="photo_caption"></div>
        <div class="photo_container"></div>
        <div class="photos_left"><img src="images/img-left.png"> </div>
        <div class="photos_right"><img src="images/img-right.png"> </div>

    </div>

    <!--<div ng-controller="CarouselDemoCtrl" ng-app="ui.bootstrap.demo" >-->
    <!--<div style="height: 305px">-->
    <!--<carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
    <!--<slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
    <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
    <!--<div class="carousel-caption">-->
    <!--<h4>Slide {{slide.id}}</h4>-->
    <!--<p>{{slide.text}}</p>-->
    <!--</div>-->
    <!--</slide>-->
    <!--</carousel>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>-->
    <!--<button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>-->
    <!--<div class="checkbox">-->
    <!--<label>-->
    <!--<input type="checkbox" ng-model="noWrapSlides">-->
    <!--Disable Slide Looping-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">-->
    <!--<br />Enter a negative number or 0 to stop the interval.-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="web">
        <iframe sandbox frameborder="0"></iframe>
    </div>

    <img src="images/close.png" class="close_popup">
</div>

<!--<img src="images/legend_ru.png" class="legend">-->


<script src="Cesium/Build/Cesium/Cesium.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>
