<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.ru.min.js"></script>



    <script src="bower_components/jquery.transit/jquery.transit.js"></script>

    <script src="bower_components/jq-fullscreen/release/jquery.fullscreen.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>

    <!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->

    <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->


    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>-->
    <!--<script src="http://code.angularjs.org/1.0.8/i18n/angular-locale_ru.js"></script>-->



</head>
<body>
<div ng-app="myApp" ng-controller="MyCtrl">

    <input id="dp" type="text" ng-model="userInfo.person.mDate" name="mDate" my-datepicker/>
    <pre>{{userInfo.person.mDate}}</pre>

</div>

<input type="text" ng-model="date" jqdatepicker />
<br/>
{{ date }}

</body>
<script src="scripts/testScipt.js"></script>
</html>