<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/style.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="scripts/app.js"></script>
</head>

<body ng-controller="MainCtrl">
<div class="container padTop">
    <p>Hello {{name}}!</p>

    <div>
        <div style="display:inline-block; min-height:290px;">
            <datepicker
                    ng-model="values.date1"
                    min-date="minDate"
                    show-weeks="true"
                    date-disabled="isDateDisabled(date,mode)"
                    jm-dp-refresh-view="dateDisablePromise"
                    class="well well-sm"></datepicker>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="toggleDisableMode()">Change disable mode</button>


    <p class="padTop">values:</p>
<pre>
{{ values | json }}
</pre>

</div>


</body>

</html>
